@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,300;1,200&family=BIZ+UDMincho&family=Quicksand:wght@300&display=swap');

html {
  font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 20% 0% 20%;
  }
  
  .item {
    flex: 0 32%;
    width: calc(100% / 3 - 10px);
    height: 200px;
    margin-bottom: 2%;
     /* (100-32*3)/2  */
    background-color: rgba(227, 233, 233, 0.863);
    box-shadow: 0px 0px 5px 8px rgb(184, 181, 181);
  }

header {
  background-color: rgb(243, 243, 243);
  padding: 2rem;
}

h1 {
  text-align: center;
}

body{
  background-color: rgb(240, 240, 240);
}

footer{
  text-align: center;
}

img {
  height: 100%;
  width: 100%
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 10% 0% 10%;
  }
  
  .item {
    flex: 0 50%;
    width: calc(100% / 2 - 10px);
    height: 200px;
    margin-bottom: 2%;
     /* (100-32*3)/2  */
    background-color: rgba(227, 233, 233, 0.863);
    box-shadow: 0px 0px 5px 8px rgb(184, 181, 181);
  }

}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 10% 0% 10%;
  }
  
  .item {
    flex: 0 100%;
    width: calc(100% / 1 - 10px);
    height: 200px;
    margin-bottom: 2%;
     /* (100-32*3)/2  */
    background-color: rgba(227, 233, 233, 0.863);
    box-shadow: 0px 0px 5px 8px rgb(184, 181, 181);
  }

}

#add-more{
    flex: 0 32%;
    width: calc(100% / 3 - 10px);
    height: 50px;
    margin-bottom: 2%;;
     /* (100-32*3)/2  */
    background-color: rgba(227, 233, 233, 0.863);
    box-shadow: 0px 0px 5px 8px rgb(184, 181, 181);
    text-align: center;
}
